<body>
<%= link_to " Logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out"%>

  <div class="user-main-content">
    <div class="user-profile-top">
      <div class="user-profile-image">
        <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format: 'jpeg', class: "img-circle", fallback: "user1.png", :size => "120x120" %>
      </div>
      <div class="user-profile-name">
        <%= @user.name %>
      </div>
      <div class="user-profile-residence">
        <%= @user.residence %>
      </div>
      <div class="user-profile-edit">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-edit" %>
      </div>
    </div>
  </div>
</body>