
<div class="project-serch">
	<h1>Projects#index</h1>
	<p>Find me in app/views/projects/index.html.erb</p>
</div>
<div class="project-content clearfix">
	<div class="project-main clearfix">
		<p>仕事一覧</p>
		<% @projects.each do |project| %>
		<%= link_to project_path(project.id) do %>
			<div class="project-box">
				<div class="btn btn-title"><%= project.genre %></div>
				<div class="project-box-text"><%= project.project_title %></div>
					<div class="box-info clearfix">
						<div class="box-info-left">
							<div class="project-box-name"><%= project.user.name %></div>
							<div class="project-box-info">¥<%= project.fee %>&nbsp;&nbsp;&nbsp;&nbsp;<%= project.location %></div>
						</div>
						<div class="box-info-right">
							<div class="project-box-image"><%= attachment_image_tag project.user, :profile_image, :fill, 120, 120, format: 'jpeg',class: "img-circle", fallback: "user1.png", :size => "56x56" %></div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="project-side"></div>
</div>
