<div class="containar">
	<div class="row">
		<div class="col-xs-3">
			<div class="room-side">
				<% @rooms.each do |room| %>
					<%= link_to room_path(room.id) do %>
					<div class="room-user">
						<% made = User.find(room.made_id) %>
						<% user = User.find(room.user_id) %>
							<% if made.id == current_user.id %>
								<p><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg',class: "img-circle", fallback: "user1.png", :size => "50x50" %><span class="room-user-name"><%= user.name %></span></p>
							<% else %>
								<p><%= attachment_image_tag made, :profile_image, :fill, 50, 50, format: 'jpeg',class: "img-circle", fallback: "user1.png", :size => "50x50" %><span class="room-user-name"><%= made.name %></span></p>
							<% end %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="room-main">
				<div class="room-index">メッセージを始めよう</div>
			</div>
		</div>
	</div>
</div>