<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if user_signed_in? %>
  <header class= "navbar navbar-main">
          <nav class= "nav navbar-nav navbar-left">
            <span>IC.inc</span>
          </nav>
          <nav class="nav navbar-nav navbar-right">
            <ul id="menu">
              <li>
                <%=link_to " Home", root_path %>
              </li>
              <li>投稿
                <ul class="child">
                  <li><%= link_to "案件情報投稿", new_project_path %></li>
                  <li><%= link_to "空き情報投稿", new_free_trader_path %></li>
                </ul>
              </li>
              <li>案件を探す
                <ul class="child">
                  <li><%=link_to "案件情報", projects_path %></li>
                  <li><%= link_to "下請け情報", free_traders_path %></li>
                </ul>
              </li>
              <li>プロフィール
                <ul class="child">
                  <li><%= link_to "My page", user_path(current_user.id) %></li>
                  <li><%= link_to "お気に入り", user_path(current_user.id) %></li>
                  <li><%= link_to " Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header class= "navbar navbar-main">
          <nav class= "nav navbar-nav navbar-left">
            <span>IC.inc</span>
          </nav>
          <nav class="nav navbar-nav navbar-right">
            <ul id="menu">
              <li>
                <%=link_to " Home", root_path %>
              </li>
              <li>案件を探す
                <ul class="child">
                  <li><%=link_to "案件情報", projects_path %></li>
                  <li><%= link_to "下請け情報", free_traders_path %></li>
                </ul>
              </li>
              <li>アカウント登録
                <ul class="child">
                  <li><%= link_to "ログイン", new_user_session_path %></li>
                  <li><%= link_to "新規登録", new_user_registration_path %></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
<% end %>
    <%= yield %>
  </body>
</html>

